@model company.BL.Model.EmployeesVacationVM


@{
    ViewBag.Title = "Edit Employee Vacation";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Edit Employee Vacation</h2>

            </div>
            <div class="body">
                <form id="form_validation" asp-asp-controller="EmployeesVacation" asp-action="Edit" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">

                        <div class="form-group form-float">
                            <div class="form-line ">

                                <select id="employeeId" asp-for="employeeId" class="form-control show-tick">
                                </select>
                                <br />
                                <label class="form-label"> Employees  </label>

                            </div>
                            <span asp-validation-for="employeeId" class="text-danger "></span>

                        </div>

                        <div class="form-group ">
                            <div class="form-group form-float form-line ">
                                <select asp-for="vacationId" id="vacationId" class="form-control show-tick">
                                    <option value="">-- Please select Bonus/Deduction  --</option>

                                </select>
                                <label class="form-label"> vacation </label>

                                <span asp-validation-for="vacationId" class="text-danger "></span>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="date" class="form-control"  asp-for="fromDate" />
                                    <label class="form-label"> From Date </label>
                                    <span asp-validation-for="fromDate" class="text-danger "></span>

                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="date" class="form-control"  asp-for="toDate" />
                                    <label class="form-label"> To Date </label>
                                    <span asp-validation-for="toDate" class="text-danger "></span>

                                </div>
                            </div>
                        </div>

                    </div>

                    <button class="btn btn-warning waves-effect" type="submit">Edit</button>
                    <button class="btn btn-primary waves-effect" type="reset">Cancel</button>
                    <a asp-controller="EmployeesVacation" asp-action="index" class="btn btn-success">Back</a>


                </form>
            </div>
        </div>
    </div>
</div>


@section MicrosoftValidation{
    <script>

        $(function () {

            $("#employeeId").empty();
            $("#employeeId").append("<option value='0'>Choose Employee</option>");
            $.ajax({
                type: "POST",
                url: "/Employees/getAllEmployee",
                data: {},
                success: function (res) {
                    console.log(res);
                    $.each(res, function (i, e) {
                        $("#employeeId").append("<option value='" + e.id + "'>" + e.employeeName + "</option>");
                    });
                    $("#employeeId").val(@Model.employeeId);

                }
            });
       



            $("#vacationId").empty();
            $("#vacationId").append("<option value='0'>Choose Vacation</option>");
            $.ajax({
                type: "POST",
                url: "/Vacation/getAllVacation",
                data: {},
                success: function (res) {
                    console.log(res);
                    $.each(res, function (i, e) {
                        $("#vacationId").append("<option value='" + e.id + "'>" + e.vacationName + "</option>");
                    });
                    $("#vacationId").val(@Model.vacationId);

                }
            });


        });

        $(document).ready(function () {
            $(document).ready(() => {
            });
        });

    </script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
