@model company.BL.Model.jobVM
@{
    ViewBag.Title = "Add Job ";
}
<div class="block-header">
</div>


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Add Job</h2>

            </div>
            <div class="body">
                <form id="form_validation" asp-asp-controller="Job" asp-action="create" method="post">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" asp-for="jobName" />
                            <label class="form-label">Job Name</label>
                            <span asp-validation-for="jobName" class="text-danger "></span>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" asp-for="salary" />
                            <label class="form-label"> Salary </label>
                            <span asp-validation-for="salary" class="text-danger "></span>

                        </div>
                    </div>

                    <button class="btn btn-primary waves-effect" type="submit">Create</button>
                    <button class="btn btn-primary waves-effect" type="reset">Cancel</button>

                    <a asp-controller="Job" asp-action="index" class="btn btn-success">Back</a>


                </form>
            </div>
        </div>
    </div>
</div>


@section MicrosoftValidation{
    @*     <script src="~/js/pages/forms/form-validation.js"></script>
 *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}