
@model company.BL.Model.DepartmentVM
@{
    ViewBag.Title = "Delete Department";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Delete Department</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            </div>
            <div class="body">
        <form id="form_validation" asp-asp-controller="department" asp-action="delete" method="post">
        <div class="form-group form-float">
            <div class="form-line">
                <input type="text" class="form-control readOnly" asp-for="Name" readonly="readonly" />
                            <label class="form-label">Department Name</label>

            </div>
        </div>
         <button class="btn btn-primary waves-effect" type="submit">Delete</button>
         <a asp-controller="department" asp-action="index" class="btn btn-success">رجوع</a>


    </form>
</div>
        </div>
    </div>
</div>
<center>

</center>
