@model company.BL.Model.EmployeeBounsVM

@{
    ViewBag.Title = "Employee Bonus Details";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2> Employee Bonus Details </h2>

            </div>
            <div class="body">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                <input type="text" class="form-control" asp-for="employee.employeeName" readonly="readonly" />
                                    <label class="form-label">Employee Name </label>

                                </div>
                            </div> 
                             <div class="form-group form-float">
                                <div class="form-line">
                                <input type="text" class="form-control" asp-for="bonus.bonusName" readonly="readonly" />
                                    <label class="form-label">Bonus Name</label>

                                </div>
                            </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" asp-for="bonus.bonusValue"   readonly="readonly" />
                                <label class="form-label">Vacation Cost</label>

                            </div>
                        </div> 

                         
                        </div> 
                        </div>
                <a asp-controller="EmployeeBonus" asp-action="index" class="btn btn-success">Back</a>
                    </div>
            </div>
        </div>
    </div>


